@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vinyl Is Life</h1>
    <p class="lead">NAS.VIL derives from the abbreviation of the names of the founders of the first exclusive marketplace for vinyls.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The History of Vinyl</h2>
        <p>
            The History of Vinyl. In 1930, RCA Victor launched the first commercially-available
            vinyl long-playing record, marketed as “Program Transcription” discs.
            These revolutionary discs were designed for playback at 33⅓ rpm and pressed on a 12″
            diameter flexible plastic disc.
        </p>
        <p><a class="btn btn-default" href="http://americanhistorynow.org/2014/01/27/the-history-of-vinyl/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Charts All Over the World</h2>
        <p>
            You can search through more than 1000 WWW pages around the world with updated music charts!.
            Just hit the button below to search by name of artist and/or title to find out where it is charted.
        </p>
        <p><a class="btn btn-default" href="http://www.lanet.lv/misc/charts/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Weekly Tribute</h2>
        <p>The Man in Black: A documentary about the legentary king of country music, Johnny Cash.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=uFKPxTpM-yQ">Learn more &raquo;</a></p>
    </div>
</div>